<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Spring and Angular</a>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            &nbsp;
          <li class="add-user">
            <a [routerLink]="['/adduser']">Add User</a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="showuser">
          <a [routerLink]="['/showuser']">Show User</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
